.profile-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100vh;
  width: 100vw;
}

.component-container {
  /* border: solid 1px red; */
  width: 49%;
}

.account-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}