.profile-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  /* height: 100vh;
  width: 100vw; */
}

.component-container {
  /* border: solid 1px red; */
  width: 40%;
  color: white;
}

.account-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.history-table {
  text-align: left;
}